<launch>
    <arg name="camera_name" default="front" doc="Choose your robot. Possible values: [front, wrist, top]"/>

    <!-- Front -->
    <include if="$(eval arg('camera_name') == 'front')" file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="front_cam"/>
        <!-- <arg name="serial_no" value="f1381254"/> -->
        <arg name="serial_no" value="938422074102"/>
        <arg name="enable_sync" value="true" />
        <arg name="filters" value="spatial,temporal,pointcloud"/>
        <arg name="ordered_pc" value="true" />
    </include>

    <!-- Wrist -->
    <include if="$(eval arg('camera_name') == 'wrist')" file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="wrist_cam"/>
        <arg name="serial_no" value="919122070360"/>
        <arg name="enable_sync" value="true" />
        <!-- <arg name="filters" value="spatial,temporal,pointcloud"/> -->
        <!-- <arg name="ordered_pc" value="true" /> -->
    </include>

    <!-- Top -->
    <include if="$(eval arg('camera_name') == 'top')" file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="top_cam"/>
        <arg name="serial_no" value="935322072092"/>
        <arg name="enable_sync" value="true" />
        <!-- <arg name="filters" value="spatial,temporal,pointcloud"/> -->
        <!-- <arg name="ordered_pc" value="true" /> -->
    </include>
    
</launch>
